<a href="/works_of_art">Works Index</a>
<h1><%= @work_of_art.name %></h1>
<p> Artist: <%= @work_of_art.artist %></p>
<p> Year Created: <%= @work_of_art.year %></p>
<p> On Display: <%= @work_of_art.on_display %></p>
<p> Medium: <%= @work_of_art.medium %></p>
<a href="/works_of_art/<%= @work_of_art.id %>/edit">Edit</a>
<form action="/works_of_art/<%= @work_of_art.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
