<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>Update Program <%= @program.name %></h1>

  <%= form_tag "/programs/#{@program.id}", method: :patch do %>
  <%= hidden_field_tag :previous_request, request.referrer %>
  <%= label_tag "Program name: " %>
  <%= text_field_tag :name, @program.name %><br>

  <%= label_tag :number_of_participants %>
  <%= number_field_tag :number_of_participants, @program.number_of_participants %><br>
  
  <%= submit_tag "Update Program"  %>
<% end %>
