<h1>Update Program <%= @program.name %></h1>

<form action='/programs/<%= @program.id %>' method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <input type='hidden' name='previous_request' value="<%= request.referrer %>">
  <input type='hidden' name="_method" value="PATCH" />

  <label for='programname'>Program Name: </label>
  <input id='programname' type='text' name='program[name]' value='<%= @program.name %>'/><br/>

  <input type='submit' value='Update Program'/>
</form>
