<h1>Programs</h1>

<%= link_to "Sort Alphabetically", "/galleries/#{params[:id]}/programs?sort=name" %>

<%= form_tag '/programs', method: :get do %>
  <%= number_field_tag :number_of_participants %>
  <%= submit_tag 'Records with more than minimum participants' %>
<% end %>


<p><%= "#{@programs.count} programs" %></p>
<% @programs.each_with_index do |program, index| %>
  <div id=<%= "row-#{index}" %>>

  <h3><a href="/programs/<%= program.id %>"><%= program.name %></a></h3>
  <h3><a href="/galleries/<%= program.program_gallery.id %>"><%= program.program_gallery.name %></a></h3>
  <h3><a href="/programs/<%= program.id %>"><%= program.number_of_participants %></a></h3>

  <%= link_to 'Update Program', "/programs/#{program.id}/edit" %>
  <form action='/programs/<%= program.id %>' method="post">
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

    <input type='hidden' name='_method' value="DELETE">
    <input type='hidden' name="previous_request" value='<%= request.path %>'>

    <input type='submit' value='Delete Program'/>
  </form>
  </div>
<% end %>


<br>
<%= link_to "New Program ", "/programs/new" %>
