<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>New Program</h1>

  <%= form_tag "/galleries/#{params[:id]}/programs" do %>
  <%= hidden_field_tag :gallery_id, params[:id] %>
  <%= label_tag "Program name: " %>

  <%= text_field_tag :name %><br>
  <%= label_tag :number_of_participants %>

  <%= number_field_tag :number_of_participants %><br>
  <%= submit_tag "Create Program"  %>
<% end %>
