<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h3>Program name: <%= link_to @program.name, "/programs/#{@program.id}" %> </h3>
<h4>Gallery name: <%= link_to @program.gallery.name, "/galleries/#{@program.gallery.id}" %></h4>
<p>Number of Participants: <%= @program.number_of_participants %></p>

<h4><%= link_to 'Update Program', "/programs/#{@program.id}/edit" %></h4>
<h1><%= button_to 'Delete Program', program_path(@program, previous_request: request.referrer), method: :delete %></h1>
