<a href="/museums">Museum Index</a>
<h1><%= @museum.name %></h1>
<p><%= @museum.city %></p>
<p><%= @museum.admission_cost %></p>
<p><%= @museum.old_masters %></p>
<p><%= @museum.architect %></p>
<a href="/museums/<%= @museum.id %>/edit">Edit</a>
