<nav>
  <a href="/museums">Museum Index</a>
  <a href="/works">Artwork Index</a>
</nav>
<h1>All Works of Art at <%=@museum.name%></h1>

<%= link_to "Sort Alphabetically", :sort => 'name' %>

<%= form_with url: "/museums/#{@museum.id}/works", method: :get, local: true do |form| %>
  <p> Only display works created after: </p>
  <%= number_field_tag :greater_than %>
  <%= form.submit "Submit" %>
<% end %>

<% @works.each do |work| %>
  <h3><a href="/works/<%= work.id %>"><%= work.name%></a></h3>
  <p> Artist: <%= work.artist %></p>
  <p> Year Created: <%= work.year %></p>
  <p> On Display: <%= work.on_display %></p>
  <p> Medium: <%= work.medium %></p>
  <%= button_to 'Delete Work', "/works/#{work.id}", method: :delete %>
  <%= button_to 'Edit Work', "/works/#{work.id}/edit", method: :get %>
<% end %>
</br>
<a href="/museums/<%= @museum.id %>/works/new">Create New Work</a>
