<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>Update Program Room </h1>

<form action='/galleries/<%= @gallery.id %>' method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <input type='hidden' name='previous_request' value="<%= request.referrer %>">
  <input type='hidden' name="_method" value="PATCH" />
  <label for='metname'>Program Room name: </label>
  <input id='metname' type='text' name='gallery[name]' value='<%= @gallery.name %>'/><br/>
  <label for='capacity'>Capacity: </label>
  <input id='capacity' type='bigint' name='gallery[capacity]' value='<%= @gallery.capacity %>'/><br/>
  <label for='tech_support'>Supports Technology: </label>
  <input id='tech_support' type='checkbox' name='gallery[tech_support]' value='<%= @gallery.tech_support %>'/><br/>
  <input type='submit' value='Update Galleries'/>
</form>
