<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>Update Gallery </h1>

<%= form_tag "/galleries/#{@gallery.id}", method: :patch do %>
  <%= hidden_field_tag :previous_request, request.referrer %>
  <%= label_tag "Gallery name" %>
  <%= text_field_tag :name, @gallery.name %><br>

  <%= label_tag :capacity %>
  <%= number_field_tag :capacity, @gallery.capacity %><br>

  <%= label_tag :tech_support %>
  <%= hidden_field_tag :tech_support, false %>
  <%= check_box_tag :tech_support, true, @gallery.tech_support %><br>
  <%= submit_tag "Update Gallery" %>
<% end %>
