<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>New Gallery</h1><br>

<%= form_tag '/galleries' do %>
  <%= label_tag  "Gallery name"%>
  <%= text_field_tag :name %><br>

  <%= label_tag :capacity %>
  <%= number_field_tag :capacity %><br>

  <%= label_tag :tech_support %>
  <%= hidden_field_tag :tech_support, false %>
  <%= check_box_tag :tech_support, true %><br>

  <%= submit_tag "Create Gallery" %>
<% end %>
