
<a href="/galleries">Gallery Room Index</a>

<h1>Name: <%= @gallery.name %></h1>
<h2>Supports tech: <%= @gallery.tech_support %></h2>
<h3>Capacity: <%= @gallery.capacity %></h3>

<%= button_to 'Delete Gallery Room', "/galleries/#{@gallery.id}", method: :delete %>
<a href="/galleries/<%= @gallery.id %>/edit">Update Gallery Room</a>
