<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<h1>Name: <%= link_to @gallery.name, request.path %></h1>
<p>Capacity: <%= @gallery.capacity %></p>
<p>Supports Technology: <%= @gallery.tech_support %></p>
<p><%= "#{@gallery.programs.count} programs" %></p>

<h3><%= link_to "View Galleries", "/galleries/#{@gallery.id}/programs" %></h3>
<h3><%= link_to "Update Gallery", "/galleries/#{@gallery.id}/edit"%></h4>
<%= button_to 'Delete Gallery', "/galleries/#{@gallery.id}", method: :delete %>
