<header>
  <nav>
    <a href="/">Art Museum Manager</a>
    <a href='/museums'>Museums</a>
    <a href='/works'>Works</a>
    <a href='/galleries'>Galleries</a>
    <a href='/programs'>Programs</a>
  </nav>
</header>

<a href="/galleries/<%= @gallery.id %>/programs">View Gallery</a>

<p <%= "#{@gallery.programs.count} programs" %></p>
<h1>Name: <%= link_to @gallery.name, request.path %></h1>
<h2>Supports Technology: <%= @gallery.tech_support %></h2>
<h3>Capacity: <%= @gallery.capacity %></h3>

<%= button_to 'Delete Gallery', "/galleries/#{@gallery.id}", method: :delete %>
<a href="/galleries/<%= @gallery.id %>/edit">Update Gallery</a>
